* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: space-around;
  padding: 27px 0px 27px 0px;

}
.add-button .contact_btn {
  border: 1px solid;
  padding: 10px;
  box-shadow: 0px 7px #888888;
  width: 156px;
  height: 48px;
  border-radius: 19px;
  font-size: 16px;
  font-feature-settings: "pcap";
  font-variant-caps: petite-caps;
  border-color: #1890ff;
  margin-top: -3px;
}
.header {
  font-variant-caps: petite-caps;
}